body {
    background-color: rgb(25, 80, 441);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: rgb(10, 25, 400);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#new-task {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#add-task {
    background-color: #e74c3c; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#add-task:hover {
    background-color: #c0392b;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); 
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    color: blue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

li button:hover {
    background-color: darkred;
}